<!-- Page Header and Text -->
<div class="container p-0 m-0 w-100">
  <div class="row">

    <div class="col-12">
       <img src="images/mt_rainier.jpg" class="img-fluid w-50 float-left rounded-circle img-thumbnail" alt="Responsive image">

       <h1 class="header-title text-center" id="headTitle">Kitten Application</h1>

</div>
  </div>
</div>


<div class="container shadow-sm p-3  m-5 bg-white rounded mx-auto">
<div class="card ">
  <div class="card-header">
    Application
  </div>
  <div class="card-body">
    <p class="card-text"> Under no circumstances will a kitten be de-clawed.</p>
    <p class="card-text"> All kittens go to pet only homes. Mt Rainier cattery does not sell cats for breeding.</p>
    <p class="card-text"> Kittens can only be reserved with a deposit.</p>
    <a href="contact-us" class="btn btn-outline-secondary">Contact us</a>
  </div>
</div>
</div>


</body>