<!-- Page Header and Text -->
<div class="container p-0 m-0 w-100">
  <div class="row">

    <div class="col-12">
       <img src="images/mt_rainier.jpg" class="img-fluid w-50 float-left rounded-circle img-thumbnail" alt="Responsive image">

       <h1 class="header-title text-center" id="headTitle">Caring for your Sphynx</h1>

</div>
  </div>
</div>

<div class="container">
<h5>Curious about the Sphynx breed? Watch this <a href="https://www.youtube.com/watch?time_continue=5&v=iuOvHDhMJ-A">Video</a>
 from Cats 101</h5>
<hr class="px-5">

<h4 class="care">Nutrition</h4>
<h5 class="text-center">Sphynx have a high metabolism then cats with hair. This means that a
Sphynx requires more food. It is best to feed a high quality food to avoid fillers, and
harmful chemicals. The general
health of your cat will be better, for longer.
</h5>
<hr class="px-5">


<h4 class="care">Indoor Only</h4>
<h5 class="text-center">Sphynx cats do best indoors. They are susceptible to sunburns when outside.
Sphynx are most comfortable at 70 degrees.
</h5>

<hr class="px-5">
<h4 class="care">Baths</h4>
<h5 class="text-center">Sphynx need weekly baths to wash off the oil that builds up. Using a
 delicate baby shampoo is recommended.</h5>
<hr class="px-5">

<h4 class="care">Nail trimming</h4>
<h5 class="text-center">Sphynx need their nails clipped every two weeks. Only the sharp end of
the claw can be cut off, otherwise you will damage the blood vessels in their claws. </h5>
<hr class="px-5">

<h4 class="care">Ear Cleaning</h4>
<h5 class="text-center">Sphynx need their ears cleaned once a week, many owners do that right
after their cats baths. A dark wax builds up that you clean carefully with q-tips or cotton balls.</h5>
<hr class="px-5">

<h4 class="care">Brushing Teeth</h4>
<h5 class="text-center">Brushing a Sphynx teeth is a crucial part of their health. Food
 build up creates plaque which causes gum disease. Ideally you would brush your Sphynx teeth
  every day. <strong>DO NOT use toothpaste for humans, it is toxic to cats.
   There is cat specific toothpaste</strong> If
  you do not know how to start a dental regime with your cat watch the following video
  <a href="https://www.youtube.com/watch?v=4KPmWOQydfY"> Cat Dental Care </a></h5>
<hr class="px-5">
</body>

<h4 class="care">Eye Care</h4>
<h5 class="text-center">Since Sphynx are hairless they lack eyelashes. Because of this Sphynx can
get goopy eyes. Eyes should be carefully cleaned, consult vet on how to clean them.
</h5>

<hr class="px-5">

</div>

