<!-- Page Header and Text -->
<div class="container p-0 m-0 w-100">
  <div class="row">

    <div class="col-12">
       <img src="images/mt_rainier.jpg" class="img-fluid w-50 float-left rounded-circle img-thumbnail" alt="Responsive image">

       <h1 class="header-title text-center" id="headTitle">Contact Us</h1>

</div>
    </div>
</div>
     <!-- main container for the page-->
    <div class="container shadow-sm p-3  m-5 bg-white rounded mx-auto">
        <h1>Contact us</h1>
        <p>Before contacting us please fill out the Application, the email you
         submit the application with will be the one you use to contact us</p>
        <hr>
        <form method="post" action="">

                <div class="row">


                        <!--Full name-->
                        <div class="col-12">
                            <label for="name" class="form-label font-weight-bold mb-1">Full Name
                              </label>
                            <check if="{{@errors['name']}}">
                                <p class="text-danger">{{ @errors['name'] }}</p>
                            </check>

                        <input class="form-control mb-2" type="text" value="{{@name}}" name="name"
                               id="name">

                        <!--Email-->
                        <label for="email" class="form-label font-weight-bold mb-1">Email</label>

                        <check if="{{@errors['email']}}">
                            <p class="text-danger">{{ @errors['email'] }}</p>
                        </check>

                        <input class="form-control mb-2" type="text" value="{{@email}}" name="email"
                               id="email">

                        <!--message type-->
                        <div class="form-group">
                            <label for="messageType"
                                   class="form-label font-weight-bold mb-0">Message Type</label><br>
                            <check if="{{@errors['messageType'] }}">
                                <p class="text-danger">{{@errors['messageType']}}</p>
                            </check>
                            <!--waitlist message type-->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input mr-2" type="radio"
                                           name="messageType[]" id="messageType" value="waitlist"
                                    <check if="{{@messageType == 'waitlist'}}">checked</check>
                                    >Place me on the kitten wait list
                                </label>
                            </div>

                            <!--deposit message type-->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input mr-2" type="radio"
                                           name="messageType[]" value="deposit"
                                    <check if="{{@messageType == 'deposit'}}">checked</check>
                                    > Interested in placing a deposit on a kitten
                                </label>
                            </div>

                        </div>

                      </div>
                           <div class="col-4">
                              <div class="text-right">
                                  <input type="submit" value="Next >" name="submit"
                                         class="btn btn-primary my-4">
                              </div>
                          </div>
                 </div>

         </form>
    </div>
</div>

</body>