<!-- Page Header and Text -->
<div class="container p-0 m-0 w-100">
  <div class="row">

    <div class="col-12">
       <img src="images/mt_rainier.jpg" class="img-fluid w-50 float-left rounded-circle img-thumbnail" alt="Responsive image">

       <h1 class="header-title text-center" id="headTitle">Contact Us</h1>

</div>
    </div>
</div>

<div class="container shadow-sm p-3  m-5 bg-white rounded mx-auto">
<div class="card ">
  <div class="card-header">
    Application required
  </div>
  <div class="card-body">
    <p class="card-text"> Before contacting us regarding purchasing a kitten or
    being put on the waitlist please read and agree to the application requirements. When you purchase a kitten you
    must sign a hard copy of the application</p>
    <a href="application" class="btn btn-outline-secondary">Application</a>
  </div>
</div>
</div>
     <!-- main container for the page-->
    <div class="container shadow-sm p-3  m-5 bg-white rounded mx-auto">
        <h1>Contact </h1>

        <hr>
        <form method="post" action="">

                <div class="row">


                        <!--Full name-->
                        <div class="col-12">
<div class="">
                            <label for="name" class="text-left form-label font-weight-bold mb-1">Full Name<span class="text-danger">*</span>
                               <p class="w-25 text-right text-danger float-right ml-5 pl-5">*required</p></label>

                              </div>
                              <div>
                            <check if="{{@errors['name']}}">
                                <p class="text-danger">{{ @errors['name'] }}</p>
                            </check>
                            </div>
                        <input class="form-control mb-2" type="text" value="{{@name}}" name="name"
                               id="name">

                        <!--Email-->
                        <label for="email" class="form-label font-weight-bold mb-1">Email<span class="text-danger">*</span></label>

                        <check if="{{@errors['email']}}">
                            <p class="text-danger">{{ @errors['email'] }}</p>
                        </check>

                        <input class="form-control mb-2" type="text" value="{{@email}}" name="email"
                               id="email">

                        <!--message type-->
                        <div class="form-group">
                            <label for="messageType"
                                   class="form-label font-weight-bold mb-0">Message Type<span class="text-danger">*</span></label><br>
                            <check if="{{@errors['messageType'] }}">
                                <p class="text-danger">{{@errors['messageType']}}</p>
                            </check>
                            <!--waitlist message type-->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input mr-2" type="radio"
                                           name="messageType[]" value="waitlist" id="waitlist"
                                    <check if="{{@messageType == 'waitlist'}}">checked</check>
                                    >Place me on the kitten wait list
                                </label>
                            </div>

                            <!--deposit message type-->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input mr-2" type="radio"
                                           name="messageType[]" value="deposit" id="deposit"
                                    <check if="{{@messageType == 'deposit'}}">checked</check>
                                    > Interested in placing a deposit on a kitten
                                </label>
                            </div>

                        </div>


                      </div>

                 </div>
                 <input type="submit" value="Send >" name="submit"
                 class="btn btn-outline-secondary my-4">

         </form>
    </div>
</div>
<script src="model/contact.js"></script>

</body>