<!-- Page Header and Text -->
<div class="container">
  <div class="row">
  <div class="col-12 col-lg-12 col-sm-12">

<h1 class="header-title text-center">MT Rainier Cattery</h1>
</div>
    <div class="col">
       <img src="images/mt_rainier.jpg" class="img-fluid w-100 rounded-circle img-thumbnail" alt="Responsive image">
    </div>
    <div class="col">

    </div>
  </div>
</div>



<div class="container">
<hr class="px-5">
    <h5>MT Rainier is a small cattery in Auburn, Washington that specializes in Sphynx, Domestic Shorthairs,
        and Domestic Longhairs. Every kitten is raised as a part of our family.</h5><br>
    <h5>Kittens are TICA registered. Every King and Queen pass an HCM scan before being bred to ensure
        healthy kittens. Every kitten comes with their first two sets of
                                 shots.</h5><br>

    <div class="container text-center">
        <a href="#" class="btn btn-outline-secondary">Contact Us</a>
    </div>
</div>
</body>

